{% extends "greybase.html" %}
{% block content %}

<style>
  
.bgimgc {

    background-image: url('https://image.freepik.com/free-photo/white-brick-wall-texture-with-wood-floor-empty-abstract-background-for-presentations-and-web-design-a-lot-of-space-for-text-composition-art-image-website-magazine-or-graphic-design_1962-82.jpg');
    min-height: 100%;
    background-position: center;
    background-size: 100% 100% ;
    color: black;    
}
  
</style>


<body>
<div class="bgimgc w3-display-container w3-animate-opacity w3-text-white" style="width:100%; height:100%;">
	<div class="w3-main" style="margin-left:300px;">
		<header class="w3-container" style="padding-top:43px;">
      		<h5 style="color: black; text-align:center;"><b>About DZ20VC</b></h5>
  		</header>
		<hr>
  		<div class="w3-half w3-container" style="padding-top:23px;">
  			<div class="container" style="width: 70%; height: 45%;">
      			<img src="https://cms.daikincomfort.com/images/default-source/default-album/images/400s/dx13sa-rightquarter-case-lr.png?sfvrsn=2" style="height: 100%; width: 100%;">
      		</div>
      	</div>	
  		<div class="w3-half w3-container" style="padding-top:23px;">
			<div class="container" style="width: 70%; height: 50%; overflow-y:scroll;">
				<p style="color:black;"> The ComfortNet<sup>TM</sup> compantible DZ20VC Variable-Speed Heat Pump offers up to 21 SEER high-efficiency performance, winning ENERGY STAR's Most Efficient 2018 award. This product has variable-speed swing and scroll compressors that provide premium durability while designed with acoustically engineered high-density sound control for quiet operation. The DZ20VC unit is backed with a 12-Year Unit Replacement Limited Warranty and a 12-Year Parts Limited Waranty, along with Daikin Inside Intelligence constantly monitoring the system for trouble spots, allowing you to have a comfortable home with a comfortable peace of mind.</p>
				<p style="color:black;">This unit also includes other exciting features such as a factory-installed muffler, a crankcase heater, and Inverter and SmartShift technology. Customers love the quality, warranty coverage, and countless other features. The DZ20VC unit is EHRI certified and ETL listed. Additionally, the air conditioner is aesthetically pleasing, with baked enamel finishes to protect the system from outside elements. 
				<p style="color: black;"> For more information, <b><a href="http://shumate.daikincomfort.com/media/pdfs/spec_sheets/SS-DZ20VC.pdf" style="color:black;"> click here. </a></b></p>
			</div>
		</div>
	</div>
</div>
</body>

{% for js_url in config.JS_INCLUDES %}
    <script src="{{ js_url }}"></script>
{% endfor %}

{% endblock %}



