{% extends "base.html" %}
{% block content %}

 <div class=row>
 	<div class=col-md-3>
      <div class=thumbnail>
        <img src=https://s3.amazonaws.com/flasklambdalab-dev-uploads-a209b368/genki.jpg width=250 style="margin-top:20px;">
        <p style="margin-top:2em;">
        	<a href="https://www.utexas.edu"> Genki </a>
        </p>
      </div>
	</div>
</div>
    

<div class=row> 
	<div class=col-md-3>
        <div class=thumbnail>
            <img src=https://s3.amazonaws.com/flasklambdalab-dev-uploads-a209b368/jenny.jpg width=250 style="margin-top:20px;">
            <p style="margin-top:2em;">
            	<a href="https://www.berkeley.edu"> Jenny Wong </a>
            </p>
        </div>
    </div>

</div> 

<!--
    <div class=col-md-3>
                        <div class=thumbnail>
                                <img src=https://s3.amazonaws.com/flasklambdalab-dev-uploads-a209b368/michael.jpg width=250 style="margin-top:20px;">
                                <p style="margin-top:2em;">
                                 <a href="https://www.tamu.edu"> Michael Hagaman </a>
                                </p>
                        </div>
                </div>
    <div class=col-md-3>
                        <div class=thumbnail>
                                <img src=https://s3.amazonaws.com/flasklambdalab-dev-uploads-a209b368/oneal.jpg width=250 style="margin-top:20px;">
                                <p style="margin-top:2em;">
                                    <a href="https://onealio.com/"> Oneal Abdulrahim </a>
                                </p>
                        </div>
                </div>
    <div class=col-md-3>
                        <div class=thumbnail>
                                <img src=https://s3.amazonaws.com/flasklambdalab-dev-uploads-a209b368/kristen.jpg width=250 style="margin-top:20px;">
                                <p style="margin-top:2em;">
                                        <a href="http://www.gatech.edu/"> Kristen Drexinger </a>
                                </p>
                        </div>
                </div>
</div>


--> 

{% endblock %}