{% extends "loginbase.html" %}
{% block content %}


<body>
    <div class="w3-display-middle w3-container w3-white w3-text-black" style="width:350px; height: 368px; border: 3px solid black; margin-top: 50px">
        <br>
        <div style="text-align: center">
            <label style="font-size:18px; text-align: center;"><b>Validate Here:</b></label>
        </div>
        <br>
        <form onsubmit="return false;">
            <div class="form-group">
                <div>Username</div>
                <p><input id="code_username" type="text"
                    class="w3-input w3-padding-16 w3-border form-control" placeholder="Enter username"></p>
            </div>
            <div class="form-group">
                <div>Code</div>
                <p><input id="code_code" type="text"
                    class="w3-input w3-padding-16 w3-border form-control" placeholder="Code"></p>
            </div>
            <div style="text-align: center;">
                <button type="submit" class="button" onclick="validateDEAL()"> Validate </button>
                <p id="codeError" style="color:red"></p>
            </div>
        </form>
    </div>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='appdeal.js') }}"></script>

{% for js_url in config.JS_INCLUDES %}
    <script src="{{ js_url }}"></script>
{% endfor %}
</body>

{% endblock %}



