{% extends "hvacbase.html" %}
{% block content %}

<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- <style></style> -->

<script src="https://sdk.amazonaws.com/js/aws-sdk-2.7.16.min.js"></script>

<script>


function queryData() {
	document.getElementByID('textarea').innerHTML += "Querying for McCann Services Inc.";

	var params= {
		TableName : "customers",


		KeyConditionExpression:'company = :vvv',
		ExpressionAttributeValues: {
			':vvv':'McCann Services Inc.'
		}
	};
	console.log("hi")
	docClient.query(params,function(err,data){
		if (err) {
			document.getElementById('textarea').innerHTML += "Unable to query.Error:"+"\n"+ JSON.stringify(err,undefined,2);	
		} else {
			document.getElementById('textarea').innerHTML += "Querying for McCann:"+"\n" +JSON.stringify(data,undefined,2);
		}
	});


</script>

<style>
#customersT {
    border-collapse: collapse;
    width: 100%;
}

#customersT td, #customersT th {
    border: 1px solid #ddd;
    padding: 10px;
}


#customersT tr:hover {background-color: #ddd;}

#customersT th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: lightsteelblue;
    color: black;

}

.bgimgc {

    background-image: url('https://www.daikin.com.au/sites/default/files/Resized_Lifestyle_01_Wall_Mounted_FTXS-K_0.png');
    min-height: 100%;
    background-position: center;
    background-size: 100% 100% ;
    color: black;    
}

}

</style>
<body>

<div class="bgimgc w3-display-container w3-animate-opacity w3-text-white" style="width:100%; height:100%;">
<div class="w3-main" style="margin-left:300px;">
<!-- 	<input id="queryData" type="button" value="query" onclick="queryData();" />
	<br><br>
	<textarea readonly id="textarea" style="width:50px; height: 50px"></textarea> -->


    <header class="w3-container" style="padding-top:86px">
      <h5 style="color:steelblue;text-align: center;"><b>Customers</b></h5>
    </header>

	<hr>

	<div class="w3-half w3-container" style="padding-top:10px; text-align: center">

<div id="map" style="width:90%; height:40%; color: black"></div>
      <script>
        var map, infoWindow, locationsg, locationsy, locationsr, count, marker;
        function initMap() {
          map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: 35.397, lng: -95.644},
            zoom: 15
          });
          infoWindow = new google.maps.InfoWindow;

          //green customers
          locationsg = [		
          				['1',29.970276, -95.435214],
          				['2',29.864250, -95.544214],
          				['3',29.736557, -95.467971],
          				['4',29.719679, -95.660597],
          				['5',29.636634, -95.444669],
          				['6',29.485177, -95.396787],
          				['7',29.595775, -95.222718],
          				['8',29.655681, -95.125609],
          				['9',29.760033, -95.211939],
          				['10',29.791824, -95.157195],
          				['11',29.820785, -95.035227],
          				['12',29.851412, -95.213873],
          				['13',29.872776, -95.293785],
          				['14',29.784867, -95.332280],
           				['15',29.778216, -95.357816],
           				['17',29.717611, -95.380881],
           				['18',30.021806, -95.513613],
           			];
           locationsy=[
           				['19',30.139947, -95.750629],
           				['21',29.502676, -95.911116],
           				['22',29.360796, -95.641705],
           				['23',29.503293, -95.159034],
           				['24',30.048370, -95.093205],
           				['25',29.657371, -95.062926],
           			];

           	locationsr=[
						['16',29.755637, -95.336662],
						['20',29.881143, -95.959049],

           			];


        //green customers
      	for (count=0; count<locationsg.length; count++) {
      		marker= new google.maps.Marker({
      			position: new google.maps.LatLng(locationsg[count][1], locationsg[count][2]), 
      			map:map,
      			icon: 'http://maps.google.com/mapfiles/ms/icons/green-dot.png',
      			title: locationsg[count][0]
      		});
      	
        }
        //yellow customers
      	for (count=0; count<locationsy.length; count++) {
      		marker= new google.maps.Marker({
      			position: new google.maps.LatLng(locationsy[count][1], locationsy[count][2]), 
      			map:map,
      			icon: 'http://maps.google.com/mapfiles/ms/icons/yellow-dot.png',
      			title: locationsy[count][0]
      		});
      	
        }

      	for (count=0; count<locationsr.length; count++) {
      		marker= new google.maps.Marker({
      			position: new google.maps.LatLng(locationsr[count][1], locationsr[count][2]), 
      			map:map,
      			icon: 'http://maps.google.com/mapfiles/ms/icons/red-dot.png',
      			title: locationsr[count][0]
      		});
      	
        }    


  	    }
          if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
              var pos = {
                lat: position.coords.latitude,
                lng: position.coords.longitude
              };

              infoWindow.setPosition(pos);
              infoWindow.setContent('Location found.');
              infoWindow.open(map);
              map.setCenter(pos);
            }, function() {
              handleLocationError(true, infoWindow, map.getCenter());
            });
          } else {
            handleLocationError(false, infoWindow, map.getCenter());
          }

        function handleLocationError(browserHasGeolocation, infoWindow, pos) {
          infoWindow.setPosition(pos);
          infoWindow.setContent(browserHasGeolocation ?
                                'Error: The Geolocation service failed.' :
                                'Error: Your browser doesn\'t support geolocation.');
          infoWindow.open(map);
        }
    

    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD-hKa4wnF8bY62DoUXjgeNr9oW-KDW2VU&callback=initMap">
    </script>
  </div>


	<div class="w3-half w3-container" style="padding-top:10px; text-align: center">

		<table id="customersT">
		  <tr style="background-color: lightsteelblue">
		    <th>Number</th>
		    <th>Name</th>
		    <th>Email</th>
		    <th>Phone Number</th>
		  </tr>
		  <tr style="background-color: white">
		    <td>1</td>
		    <td>Post Malone</td>
		    <td>xxxxxxx</td>
		    <td>xxxxxxx</td>
		  </tr>
		  <tr style="background-color: white">
		    <td>2</td>
		    <td>Jay Z</td>
		    <td>xxxxxxx</td>
		    <td>xxxxxxx</td>
		  </tr>
		  <tr style="background-color: white">
		    <td>3</td>
		    <td>Kendrick Lamar</td>
		    <td>xxxxxxx</td>
		    <td>xxxxxxx</td>
		  </tr>
		</table>

</div>
</div>
</body>
</html>




{% endblock %}