{% extends "base.html" %}
{% block content %}

<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body class="w3-content" style="max-width:1300px">

<!-- First Grid: Logo & About -->
<div class="w3-row">
  <div class="w3-half w3-black w3-container w3-center" style="height:700px">
    <div class="w3-padding-64">
      <h1>Welcome, (whatever user name is) </h1>
      <h4>We're glad you chose Daikin.</h4>
      <img src={{config.FAV_ICON}} alt="Daikin Logo" style="width:50%" >
    </div>
    <div class="w3-padding-16">
      <a href="#" class="w3-button w3-black w3-block w3-hover-blue-grey w3-padding-16">Your Unit's Health</a>
      <a href="#work" class="w3-button w3-black w3-block w3-hover-teal w3-padding-16">Find a Contractor</a>
      <a href="#contact" class="w3-button w3-black w3-block w3-hover-dark-grey w3-padding-16">Contact Us</a>
      <a href="#" class="w3-button w3-black w3-block w3-hover-brown w3-padding-16">Logout</a>
    </div>
  </div>
  <div class="w3-half w3-blue-grey w3-container" style="height:700px">
    <div class="w3-padding-64 w3-center">
      <h1 style="color:white;">Your Unit</h1>
      <img src={{config.AC_PIC}} alt="AC Unit" style="width:50%" >
      <div class="w3-left-align w3-padding-large">
        <p>Date Purchased: </p>
        <p>Other Info: </p>
        <p>Other Info: </p>
        <p>Other Info: </p>
      </div>
    </div>
  </div>
</div>

<!-- Second Grid: Work & Resume -->
<div class="w3-row">
  <div class="w3-half w3-light-grey w3-center" style="min-height:800px" id="work">
    <div class="w3-padding-64 w3-center">
      <h2> Your Unit's Health </h2>
      <p>Don't let your AC Unit break on a hot day.</p>
      <br>
      <img src={{config.MASCOT}} alt="Mascot" style="width:50%" >
      <div class="w3-center-align w3-padding-large">
        <p>Details about Unit</p>
        <p>Want some graphic here to visually show unit performance</p>
        <p>Other Info </p>
        <p>Other Info</p>
      </div>
    </div>
  </div>
 
  
  
  <div class="w3-half w3-grey w3-container" style="min-height:800px">
    <div class="w3-padding-64 w3-center">
      <h2 style="color:black;">Error Notifications</h2>
      <p align= "left">Critical: Fix Immediately</p>
      <div class="w3-container w3-responsive">
        <table class="w3-table">
          <tr>
            <th>Error Type</th>
            <th>Error Description</th>
            <th>Estimated Cost</th>
          </tr>
          <tr class="w3-white">
            <td>xxxxxxxx</td>
            <td>xxxxxxxx</td>
            <td>xxxxxxxx</td>
          </tr>
          <tr class="w3-white">
            <td>xxxxxxxx</td>
            <td>xxxxxxxx</td>
            <td>xxxxxxxx</td>
          </tr>
          </table>
          <br>
      <p align= "left">Moderate: Fix Soon</p>
      <div class="w3-container w3-responsive">
        <table class="w3-table">
          <tr>
            <th>Error Type</th>
            <th>Error Description</th>
            <th>Estimated Cost</th>
          </tr>
          <tr class="w3-white">
            <td>xxxxxxxx</td>
            <td>xxxxxxxx</td>
            <td>xxxxxxxx</td>
          </tr>
          <tr class="w3-white">
            <td>xxxxxxxx</td>
            <td>xxxxxxxx</td>
            <td>xxxxxxxx</td>
          </tr>  

        </table>
      </div>
    </div>
  </div>
</div>


<!-- Third Grid: Swing By & Contact -->
<div class="w3-row" id="contact">
  <div class="w3-half w3-dark-grey w3-container w3-center" style="height:700px">
    <div class="w3-padding-64">
      <h1 style="color: white;">Find a Contractor Near You</h1>
    </div>
    <div class="w3-padding-64">
      <p>put google map here</p>
    </div>
  </div>
  <div class="w3-half w3-blue-grey w3-container" style="height:700px">
    <div class="w3-padding-64 w3-padding-large">
      <h1 style="color:white;">Contact Us</h1>
        <p class="w3-opacity">LET US HELP YOU</p>
      <form class="w3-container w3-card w3-padding-32 w3-white" action="/action_page.php" target="_blank">
        <div class="w3-section">
          <label>Name</label>
          <input class="w3-input" style="width:100%;" type="text" required name="Name">
        </div>
        <div class="w3-section">
          <label>Email</label>
          <input class="w3-input" style="width:100%;" type="text" required name="Email">
        </div>
        <div class="w3-section">
          <label>Message</label>
          <input class="w3-input" style="width:100%;" type="text" required name="Message">
        </div>
        <button type="submit" class="w3-button w3-teal w3-right">Send</button>
      </form>
    </div>
  </div>
</div>

<!-- Footer -->
<footer class="w3-container w3-black w3-padding-16">
  <p> Thanks for choosing Daikin. </p>
</footer>

</body>
</html>

{% endblock %}