{% extends "greybase.html" %}
{% block content %}

<body>
<div class="bgimg w3-display-container w3-animate-opacity w3-text-white" style="width:100%; height:100%;">

<style>

        .dropdown {
                position: relative;
                display: inline-block;
                  }

        .dropdown-content {
                display: none;
                position: absolute;
                background-color: #f9f9f9;
                min-width: 160px;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                padding: 12px 16px;
                z-index: 1;
                          }

        .dropdown:hover .dropdown-content {
                display: block;
                                          }
        .table { 
        border: 1px solid;
        width: 600px;
        border-spacing: 0.5rem

         }

         .td {
          padding: 5px;
          font-size: medium;
        }





</style>

<body>
<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px;">
 
  <header class="w3-container" style="padding-top:43px">
      <h5 style="color:steelblue;text-align: center;"><b> Find a Dealer</b></h5>

    </header>
   
    <hr>
	 <div class="w3-half w3-container" style="padding-top:10px; width:400px; height: 300px; margin-left: 40px;">
    <p style="color: steelblue; text-align: center;"> <b> Near You </b> </p>
    <br>
      <div id="map" style="width:100%; height:100%; color: black"></div>
      <script>
        var locations = [];
        var map, infoWindow, count, marker;
        
        function get_employees(){
          var poolData = {
              UserPoolId : 'us-east-1_2o7S9Pswl', // Your user pool id here
              ClientId : 'kqrsickoaotsll8j4fhfahgpt' // Your client id here
          };
          // var url_name = "https://cl0igb14s8.execute-api.us-east-1.amazonaws.com/michael";
          // var url_name = "https://qvtsi28b2k.execute-api.us-east-1.amazonaws.com/kristen";
          var url_name = "https://7srr0yyhjg.execute-api.us-east-1.amazonaws.com/jenny";
          var userPool = new AmazonCognitoIdentity.CognitoUserPool(poolData);
          var cognitoUser = userPool.getCurrentUser();

          if(cognitoUser !== null){
              cognitoUser.getSession(function(err, session) {
                  if(err){
                      alert(err);
                      return;
                  }

                  console.log('session validity: ' + session.isValid());
                  console.log(cognitoUser.username);


                  var request = new XMLHttpRequest();
                  request.open('GET', url_name + "/test?e=" + cognitoUser.username, false);  // `false` makes the request synchronous
                  request.send(null);

                  if (request.status === 200) {
                    console.log(request.response);
                    data = request.response
                    var tempInfo = JSON.parse(data); //save please
                    for(var i = 0, size = tempInfo.length; i < size ; i++){
                      var item = tempInfo[i];
                      var l = item['location'].split(', ');
                      locations.push([item['employeename'],parseFloat(l[0]),parseFloat(l[1]),item['available']]);
                    }
                  }
            });
          }
        }


                  

        function initMap() {
          map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: 35.397, lng: -95.644},
            zoom: 15
          });
          infoWindow = new google.maps.InfoWindow;

          get_employees();
          // console.log(locations);
          // locations = [
          //         ['a', 29.698255, -95.491095, 0],
          //   ['a', 29.938908, -95.399725, 1],
          //   ['a', 29.748279, -95.342085, 2],
          //   ['a', 29.991972, -95.961940, 3],
          //   ['a', 29.747274, -95.486519, 4],
          //   ['a', 29.782538, -95.318726, 5],
          //   ['a', 29.804288, -95.267571, 6],
          //   ['a', 29.742601, -95.306366, 7],
          //   ['a', 29.850476, -95.384488, 8],
          //   ['a', 29.813098, -95.162358, 9],
          //   ['a', 30.116775, -95.232396, 10],
          //   ['a', 30.026453, -95.524564, 11],
          //   ['a', 29.914923, -95.481134, 12],
          //   ['a', 29.663747, -95.355650, 13],
          //   ['a', 29.562106, -95.348955, 14],
          //    ];
            console.log('hi');
            console.log(locations);

        var icon;
      	for (count=0; count<locations.length; count++) {
          if (locations[count][3] == "yes"){
            icon = 'http://maps.google.com/mapfiles/ms/icons/green-dot.png';
          }
          else {
            'http://maps.google.com/mapfiles/ms/icons/red-dot.png';
          }
        	marker= new google.maps.Marker({
      			position: new google.maps.LatLng(locations[count][1], locations[count][2]), 
      			map:map,
            icon: icon,
      			title: locations[count][0]
      		});
      	
        }


  	    }
          if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
              var pos = {
                lat: position.coords.latitude,
                lng: position.coords.longitude
              };

              infoWindow.setPosition(pos);
              infoWindow.setContent('Location found.');
              infoWindow.open(map);
              map.setCenter(pos);
            }, function() {
              handleLocationError(true, infoWindow, map.getCenter());
            });
          } else {
            handleLocationError(false, infoWindow, map.getCenter());
          }

        function handleLocationError(browserHasGeolocation, infoWindow, pos) {
          infoWindow.setPosition(pos);
          infoWindow.setContent(browserHasGeolocation ?
                                'Error: The Geolocation service failed.' :
                                'Error: Your browser doesn\'t support geolocation.');
          infoWindow.open(map);
        }


    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD-hKa4wnF8bY62DoUXjgeNr9oW-KDW2VU&callback=initMap">
    </script>
  </div>


  <div class="w3-half w3-container" style="padding-top:10px; text-align:center; width:500px; height: 700px;">
    <p style= "color: steelblue; text-align: center;"><b>All Dealers</b></p>
        <br>
        <table class="table">
          <col span="4"/>
            <td class="dropdown td" >Alabama
                <div class="dropdown-content">
                  <p>Birmingham</p>
                  <p>Huntsville</p>
                  <p>Mobile</p>
                  <p>Montgomery</p>
                </div>
                </td>
            <td class="dropdown td">Indiana
                  <div class="dropdown-content">
                  <p>Carmel</p>
                  <p>Evansville</p>
                  <p>Indianapolis</p>
                  <p>Fort Wayne</p>
                  <p>South Bend</p>
                </div>
            </td>
            <td class="dropdown td">Nebraska
                <div class="dropdown-content">
                  <p>Bellevue</p>
                  <p>Lincoln</p>
                  <p>Omaha</p>
                </div>
            </td>
            <td class="dropdown td">Rhode Island
                <div class="dropdown-content">
                  <p>Cranston</p>
                  <p>East Providence</p>
                  <p>Providence</p>
                  <p>Warwick</p>
                </div>
            </td>
          </tr>
          <tr style="background-color: lightsteelblue">
            <td class="dropdown td">Alaska
                <div class="dropdown-content">
                  <p>Anchorage</p>
                  <p>Fairbanks</p>
                </div>
            </td>
            <td class="dropdown td"> Iowa
                <div class="dropdown-content">
                  <p>Cedar Rapid</p>
                  <p>Iowa City</p>
                  <p>De Moines</p>
                </div>
            </td>
            <td class="dropdown td">Nevada
                <div class="dropdown-content">
                  <p>Henderson</p>
                  <p>Las Vegas</p>
                  <p>North Las Vegas</p>
                  <p>Reno</p>
                  <p>Sparks</p>
                </div>
            </td>
            <td class="dropdown td">South Carolina
                <div class="dropdown-content">
                  <p>Charleston</p>
                  <p>Columbia</p>
                  <p>North Charleston</p>
                  <p>Watertown</p>
                </div>
            </td>
          </tr>
          <tr>
            <td class="dropdown td"> Arizona
                <div class="dropdown-content">
                  <p>Chandler</p>
                  <p>Phoenix</p>
                  <p>Tucson</p>
                </div>
            </td>
            <td class="dropdown td">Kansas
                <div class="dropdown-content">
                  <p>Topeka</p>
                </div>
            </td>
            <td class="dropdown td">New Hampshire
                <div class="dropdown-content">
                  <p>Concord</p>
                  <p>Derry</p>
                  <p>Nashua</p>
                  <p>Manchester</p>
                  <p></p>
                </div>
            </td>
            <td class="dropdown td">South Dakota
                <div class="dropdown-content">
                  <p>Aberdeen</p>
                  <p>Sioux Falls</p>
                </div>
            </td>
          </tr>
          <tr style="background-color: lightsteelblue">
            <td class="dropdown td">Arkansas
                <div class="dropdown-content">
                  <p>Fayetteville</p>
                  <p>Fort Smith</p>
                  <p>Little Rock</p>
                  <p>Springdale</p>
                </div>
            </td>
            <td class="dropdown td">Kentucky
                <div class="dropdown-content">
                  <p>Bowling Green</p>
                  <p>Covington</p>
                  <p>Lexington</p>
                  <p>Louisville</p>
                </div>
            </td>
            <td class="dropdown td">New Jersey
                <div class="dropdown-content">
                  <p>Elizabeth</p>
                  <p>Edison</p>
                  <p>Jersey Shore</p>
                </div>
            </td>
            <td class="dropdown td">Tennessee
                <div class="dropdown-content">
                  <p>Chattanooga</p>
                  <p>Knoxville</p>
                  <p>Memphis</p>
                  <p>Nashville</p>
                </div>
            </td>
          </tr>
          <tr>
            <td class="dropdown td">California
                <div class="dropdown-content">
                  <p>Fresno</p>
                  <p>Los Angeles</p>
                  <p>San Diego</p>
                  <p>San Francisco</p>
                  <p>San Jose</p>
                </div>
            </td>
            <td class="dropdown td">Louisiana
                <div class="dropdown-content">
                  <p>Baton Rouge</p>
                  <p>New Orleans</p>
                  <p>Shreveport</p>
                </div>
            </td>
            <td class="dropdown td">New Mexico
                <div class="dropdown-content">
                  <p>Albuquerque</p>
                  <p>Las Cruces</p>
                  <p>Roswell</p>
                  <p>Santa Fe</p>
                </div>
            </td>
            <td class="dropdown td">Texas
                <div class="dropdown-content">
                  <p>Arlington</p>
                  <p>Austin</p>
                  <p>College Station</p>
                  <p>Corpus Christi</p>
                  <p>Dallas</p>
                  <p>El Paso</p>
                  <p>Forth Worth</p>
                  <p>Galveston</p>
                  <p>Georgetown</p>
                  <p>Houston</p>
                  <p>Irving</p>
                  <p>Plano</p>
                  <p>San Antonio</p>
                  <p>Waco</p>            
                </div>
            </td>
          </tr>
          <tr style="background-color: lightsteelblue">
            <td class="dropdown td">Colorado
                <div class="dropdown-content">
                  <p>Aurora</p>
                  <p>Denver</p>
                </div>
            </td>
            <td class="dropdown td">Maine
                <div class="dropdown-content">
                  <p>Bangor</p>
                  <p>Lewiston</p>
                  <p>Portland</p>
                  <p>South Portland</p>
                </div>
            </td>
            <td class="dropdown td">New York
                <div class="dropdown-content">
                  <p>Buffalo</p>
                  <p>New York City </p>
                </div>
            </td>
            <td class="dropdown td">Utah
                <div class="dropdown-content">
                  <p>Salt Lake City</p>
                  <p>West Valley City</p>
                </div>
            </td>
          </tr>
          <tr>
            <td class="dropdown td">Connecticut
                <div class="dropdown-content">
                  <p>Bridgeport</p>
                  <p>New Haven</p>
                  <p>Stamford</p>
                </div>
            </td>
            <td class="dropdown td">Maryland
                <div class="dropdown-content">
                  <p>Baltimore</p>
                  <p>Bowie</p>
                  <p>Frederick</p>
                  <p>Gaithersburg</p>
                  <p>Rockville</p>
                </div>
            </td>
            <td class="dropdown td">North Carolina
                <div class="dropdown-content">
                  <p>Charlotte</p>
                  <p>Durham</p>
                  <p>Greensboro</p>
                  <p>Raleigh</p>
                  <p>Winston-Salem</p>
                </div>
            </td>
            <td class="dropdown td">Vermont
                <div class="dropdown-content">
                  <p>Burlington</p>
                  <p>Essex</p>
                  <p>South Burlington</p>
                </div>
            </td>
          </tr>
          <tr style="background-color: lightsteelblue">
            <td class="dropdown td">Delaware
                <div class="dropdown-content">
                  <p>Dover</p>
                  <p>Newark</p>
                  <p>Wilington</p>
                </div>
            </td>
            <td class="dropdown td">Massachusetts
                <div class="dropdown-content">
                  <p>Boston</p>
                  <p>Cambridge</p>
                  <p>Lowell</p>
                  <p>Springfield</p>
                  <p>Worcester</p>
                </div>
            </td>
            <td class="dropdown td">North Dakota
                <div class="dropdown-content">
                  <p>Bismarck</p>
                  <p>Fargo</p>
                </div>
            </td>
            <td class="dropdown td">Virginia
                <div class="dropdown-content">
                  <p>Norfolk</p>
                  <p>Richmond</p>
                  <p>Virginia Beach</p>
                </div>
            </td>
          </tr>
          <tr>
            <td class="dropdown td">Florida
                <div class="dropdown-content">
                  <p>Jacksonville</p>
                  <p>Miami</p>
                  <p>Orlando</p>
                  <p>Tampa</p>
                </div>
            </td>
            <td class="dropdown td">Michigan
                <div class="dropdown-content">
                  <p>Ann Arbor</p>
                  <p>Detroit</p>
                  <p>Grand Rapids</p>
                </div>
            </td>
            <td class="dropdown td">Ohio
                <div class="dropdown-content">
                  <p>Cleveland</p>
                  <p>Columbus</p>
                  <p>Toledo</p>
                </div>
            </td>
            <td class="dropdown td">Washington
                <div class="dropdown-content">
                  <p>Seattle</p>
                  <p>Tacoma</p>
                </div>
            </td>
          </tr>
          <tr style="background-color: lightsteelblue">
            <td class="dropdown td">Georgia
                <div class="dropdown-content">
                  <p>Atlanta</p>
                  <p>Augusta</p>
                  <p>Columbus</p>
                  <p>Savannah</p>
                </div>
            </td>
            <td class="dropdown td">Minnesota
                <div class="dropdown-content">
                  <p>Minneapolis</p>
                  <p>Rochester</p>
                  <p>Saint Paul</p>
                  <p></p>
                  <p></p>
                </div>
            </td>
            <td class="dropdown td">Oklahoma
                <div class="dropdown-content">
                  <p>Oklahoma City</p>
                  <p>Tulsa</p>
                </div>
            </td>
            <td class="dropdown td">West Virginia
                <div class="dropdown-content">
                  <p>Charleston</p>
                  <p>Huntington</p>
                  <p>Morgantown</p>
                  <p>Parkersburg</p>
                  <p>Wheeling</p>
                </div>
            </td>
          </tr>
          <tr>
            <td class="dropdown td">Hawaii
                <div class="dropdown-content">
                  <p>Hilo</p>
                  <p>Honolulu</p>
                </div>
            </td>
            <td class="dropdown td">Mississippi
                <div class="dropdown-content">
                  <p>Gulfport</p>
                  <p>Jackson</p>
                  <p>Southaven</p>
                </div>
            </td>
            <td class="dropdown td">Oregon
                <div class="dropdown-content">
                  <p>Eugene</p>
                  <p>Portland</p>
                  <p>Salem</p>
                </div>
            </td>
            <td class="dropdown td">Wisconsin
                <div class="dropdown-content">
                  <p>Madison</p>
                  <p>Milwaukee</p>
                </div>
            </td>
          </tr>
          <tr style="background-color: lightsteelblue">
            <td class="dropdown td">Idaho
                <div class="dropdown-content">
                  <p>Boise</p>
                </div>
            </td>
            <td class="dropdown td">Missouri
                <div class="dropdown-content">
                  <p>Columbia</p>
                  <p>Kansas City</p>
                  <p>Saint Louis</p>
                  <p>Springfield</p>
                </div>
            </td>
            <td class="dropdown td">Pennsylvania
                <div class="dropdown-content">
                  <p>Erie</p>
                  <p>Philadelphia</p>
                  <p>Pittsburgh</p>
                  <p>Reading</p>
                </div>
            </td>
            <td class="dropdown td">Wyoming
                <div class="dropdown-content">
                  <p>Casper</p>
                  <p>Cheyenne</p>
                  <p>Gilette</p>
                </div>
            </td>
          </tr>
          <tr>
            <td class="dropdown td">Illinois
                <div class="dropdown-content">
                  <p>Aurora</p>
                  <p>Chicago</p>
                </div>
            </td>
            <td class="dropdown td">Montana
                <div class="dropdown-content">
                  <p>Billings</p>
                  <p>Bozeman</p>
                  <p>Butte</p>
                </div>
            </td>
            <td>
              <p></p>
            </td>
            <td>
              <p></p>
            </td>
          </tr>
        </table>

  </div>
</div>
<!--</div>-->
</div>
</body>

{% endblock %}
