{% extends "loginbase.html" %}
{% block content %}


<body>

    <div class="w3-display-middle w3-container w3-white w3-text-black " style="width:450px; height: 480px; border: 3px solid black;">
        <br><br>
        <div style="text-align: center;">
            <label style="font-size:20px"><b>Login Here:</b></label>
        </div>
        <br><br>
        <form onsubmit="return false;">
            <div class="form-group">
                <div>Username</div>
                <p><input id="sign_in_username" type="text" class="w3-input w3-padding-16 w3-border form-control" placeholder="Enter username"></p>
                <p id="noUsername" style="color:red"></p>
            </div>
            <div class="form-group">
                <div>Password</div>
                <p><input id="sign_in_password" type="password" class="w3-input w3-padding-16 w3-border form-control" placeholder="Enter password"></p>
            </div>  
            <br>
            <div style="text-align: center;">
                <button type="submit" class="button" onclick="signIn();" > Sign In </button>
                <p id="invalidCredentials" style="color:red"></p>
                <a href="{{ url_for('registeruser') }}">New User? Register Here.</a>
            </div>
        </form> 
  </div>

<!-- <script src="/kristen/static/amazon-cognito-identity.min.js"></script>
<script src="/kristen/static/aws-cognito-sdk.min.js"></script> -->

<script src="https://sdk.amazonaws.com/js/aws-sdk-2.259.1.min.js"></script>
<script src="{{ url_for('static', filename='app.js') }}"></script>

{% for js_url in config.JS_INCLUDES %}
    <script src="{{ js_url }}"></script>
{% endfor %}
</body>
</html>
</body>

{% endblock %} 




