
<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body {font-family: "Verdana", sans-serif}
</style>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-black w3-card">
    <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">DAIKIN HOME</a>
    <a href= "{{ url_for('logincustomer') }}" class="w3-bar-item w3-button w3-padding-large w3-hide-small">CUSTOMER LOGIN</a>
    <a href="{{ url_for('logindealer') }}" class="w3-bar-item w3-button w3-padding-large w3-hide-small">DEALER LOGIN</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large w3-hide-small">CONTACT US</a>
  </div>
</div>

<!-- Navbar on small screens (remove the onclick attribute if you want the navbar to always show on top of the content when clicking on the links) -->
<div id="navDemo" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:46px">
  <a href="#band" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">CUSTOMER</a>
  <a href="#tour" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">DEALER</a>
  <a href="#contact" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">CONTACT</a>
  <!--<a href="#" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">MERCH</a>--> 
</div>

<!-- Page content -->
<div class="w3-content" style="max-width:2000px;margin-top:46px">

  <!-- Automatic Slideshow Images -->
  <div class=" w3-display-container w3-center">
    <img src="http://www.daikin.com/images/mainvisual/pic_keyv_1_pc.jpg" style="width:100%; height:100%">
    <div class="w3-display-middle w3-container w3-white w3-text-black " style="width:450px; height: 450px; border: 5px black;">
    <div class="w3-padding-64 w3-padding-large">
  <label style="font-size:20px"><b>Login Here:</b></label>
    <br><br>
    <form onsubmit="return false;">
      <div class="form-group">
        <div>Username</div>
        <p><input id="sign_in_username" type="text" class="w3-input w3-padding-16 w3-border form-control" placeholder="Enter username"></p>
    </div>
    <div class="form-group">
        <div>Password</div>
        <p><input id="sign_in_password" type="password" class="w3-input w3-padding-16 w3-border form-control" placeholder="Enter password"></p>
        </div>  
        <br>
    <button type="submit" class="btn btn-primary btn-block" onclick="signIn();" > Sign In </button>
    <br><br>
    <a href="{{ url_for('registeruser') }}">New User? Register Here.</a>
    </form> 
    </div>
  </div>
</div>
</div>
<script src="/michael/static/amazon-cognito-identity.min.js"></script>
<script src="/michael/static/aws-cognito-sdk.min.js"></script>
<script src="https://sdk.amazonaws.com/js/aws-sdk-2.259.1.min.js"></script>
<script src="{{ url_for('static', filename='app.js') }}"></script>

{% for js_url in config.JS_INCLUDES %}
    <script src="{{ js_url }}"></script>
{% endfor %}
</body>
</html>


<!--
{% extends "base.html" %}
{% block content %}


<body>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
            </div>
            <div class="col-sm-4">
                <div>
                     <h2>Login F3or Customer</h2>
                    <form onsubmit="return false;">
                        <div class="form-group">
                            <div>Username</div>
                            <input id="sign_in_username"
                                type="text" class="form-control"
                                placeholder="Enter username">
                            <div id="noUsername" style="color:red"></div>
                        </div>
                        <div class="form-group">
                            <div>Password</div>
                            <input id="sign_in_password"
                                type="password" class="form-control"
                                placeholder="Enter password">
                        </div>
                        <button type="submit" class="btn btn-primary btn-block"
                                onclick="signIn();">
                            Sign in
                        </button>
                        <div id="invalidCredentials" style="color:red"></div>
                    </form>
                </div>
                <div>
                    <form onsubmit="return false;">
                        <div class="form-group">
                            <div>Username</div>
                            <input id="registration_username"
                                type="text" class="form-control"
                                placeholder="Enter username">
                        </div>
                        <div class="form-group">
                            <div>Given Name</div>
                            <input id="registration_given_name"
                                type="text" class="form-control"
                                placeholder="Enter Given Name">
                        </div>
                         <div class="form-group">
                            <div>Family Name</div>
                            <input id="registration_family_name"
                                type="text" class="form-control"
                                placeholder="Enter Family Name">
                        </div>
                        <div class="form-group">
                            <div>Phone Number</div>
                            <input id="registration_phone_number"
                                type="text" class="form-control"
                                placeholder="Enter Phone Number">
                        </div>
                        <div class="form-group">
                            <div>Email address</div>
                            <input id="registration_email"
                                type="text" class="form-control"
                                placeholder="Enter Email address">
                        </div>
                         <div class="form-group">
                            <div>Address</div>
                            <input id="registration_address"
                                type="text" class="form-control"
                                placeholder="Enter Address">
                        </div>
                        <div class="form-group">
                            <div>Password</div>
                            <input id="registration_password"
                                type="password" class="form-control"
                                placeholder="Enter Password">
                            <div id="passwordError" style="color:red"></div>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block"
                                onclick="update_database(), register()">
                            Register
                        </button>
                        <div style="color:red;" id="registerError"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        var pass = document.getElementById("registration_password");

        pass.onkeyup = function(){
            if(pass.value.length >= 6)
                document.getElementById("passwordError").innerHTML = "";
            else
                document.getElementById("passwordError").innerHTML = "Password must have 6 or more letters";
        }
    </script>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>

<script src="/michael/static/amazon-cognito-identity.min.js"></script>
<script src="/michael/static/aws-cognito-sdk.min.js"></script>
<script src="https://sdk.amazonaws.com/js/aws-sdk-2.259.1.min.js"></script>
<script src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</body>


{% endblock %}

--> 



