{% extends "loginbase.html" %}
{% block content %}

<body>
<!-- <<<<<<< HEAD -->
  <div class="w3-display-middle w3-container w3-white w3-text-black " style="width:30%; height: 100%; border: 3px solid black; overflow-y:scroll;">
    <br><br><br>
    <div style="text-align: center;">
      <label style="font-size:20px;"><b>Register Here:</b></label>
    </div>
    <br><br>
<!-- >>>>>>> 5cda7b661b4ccf0bc5951b587eb911669830082e -->
    <form onsubmit="return false;">
      <div class="form-group">
        <div style="text-align: left;">Username</div>
        <label><input id="registration_username" type="text" class="w3-input w3-padding-9 w3-border form-control" placeholder="Enter Username:"></label>
        <p id="usernameError" style="color:red"></p>
      </div>
      <div class="form-group">
        <div style="text-align: left;">Given Name</div>
        <label><input id="registration_given_name" type="text" class="w3-input w3-padding-9 w3-border form-control" placeholder="Enter Given Name:"></label>
        <p id="givennameError" style="color:red"></p>
      </div> 
      <div class="form-group">
        <div style="text-align: left;">Family Name</div>
        <label><input id="registration_family_name" type="text" class="w3-input w3-padding-9 w3-border form-control" placeholder="Enter Family Name:"></label>
        <p id="familynameError" style="color:red"></p>
      </div>
      <div class="form-group">
        <div style="text-align: left;">Phone Number</div>
        <label><input id="registration_phone_number" type="text" class="w3-input w3-padding-9 w3-border form-control" placeholder="Enter Phone Number: +11234567890"></label>
        <p id="phonenumberError" style="color:red"></p>
      </div> 
      <div class="form-group">
        <div style="text-align: left;">Email Address</div>
        <label><input id="registration_email" type="text" class="w3-input w3-padding-9 w3-border form-control" placeholder="Enter Email Address:"></label>
        <p id="emailError" style="color:red"></p>
      </div>
      <div class="form-group">
        <div style="text-align: left;">Address</div>
        <label><input id="registration_address" onfocus="geolocate()" type="text" class="w3-input w3-padding-9 w3-border form-control" placeholder="Enter Address:"></label>
        <p id="addressError" style="color:red"></p>
      </div>  
      <div class="form-group">
      <div style="text-align: left;">Password</div>
        <label><input id="registration_password" type="password" class="w3-input w3-padding-9 w3-border form-control" placeholder="Enter Password:"></label>
        <p id="passwordError" style="color:red"></p>
        <script type="text/javascript">
        var pass = document.getElementById("registration_password");

        pass.onkeyup = function(){
            if(pass.value.length >= 6)
                document.getElementById("passwordError").innerHTML = "";
            else
                document.getElementById("passwordError").innerHTML = "Password must have 6 or more characters";
        }
        </script>
      </div>
      <div class="form-group">
      <div style="text-align: left;">Confirm Password</div>
        <label><input id="registrationC_password" type="password" class="w3-input w3-padding-9 w3-border form-control" placeholder="Confirm Password:"></label>
        <p id="passwordCError" style="color:red"></p>
        <script type="text/javascript">
        var passC = document.getElementById("registrationC_password");

        passC.onkeyup = function(){
            if(passC.value == pass.value)
                document.getElementById("passwordCError").innerHTML = "";
            else
                document.getElementById("passwordCError").innerHTML = "Password mismatched";
        }
        </script>
      </div>
      <br>
      <div style="text-align: center;">
        <button type="submit" class="button" onclick="register()" > Register </button>
        <div style="color:red;" id="registerError"></div>
      </div>
      <br>
    </form> 
  </div>
<script src="{{ url_for('static', filename='app.js') }}"></script>

</div>
</div>

<script>
      var placeSearch, autocomplete;
      var componentForm = {
        street_number: 'short_name',
        route: 'long_name',
        locality: 'long_name',
        administrative_area_level_1: 'short_name',
        country: 'long_name',
        postal_code: 'short_name'
      };

      function initAutocomplete() {
        autocomplete = new google.maps.places.Autocomplete(
            /** @type {!HTMLInputElement} */(document.getElementById('registration_address')),
            {types: ['geocode']});


        autocomplete.addListener('place_changed', fillInAddress);
      }

      function fillInAddress() {
        var place = autocomplete.getPlace();

        for (var component in componentForm) {
          document.getElementById(component).value = '';
          document.getElementById(component).disabled = false;
        }

        for (var i = 0; i < place.address_components.length; i++) {
          var addressType = place.address_components[i].types[0];
          if (componentForm[addressType]) {
            var val = place.address_components[i][componentForm[addressType]];
            document.getElementById(addressType).value = val;
          }
        }
      }

      function geolocate() {
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var geolocation = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };
            var circle = new google.maps.Circle({
              center: geolocation,
              radius: position.coords.accuracy
            });
            autocomplete.setBounds(circle.getBounds());
          });
        }
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD-hKa4wnF8bY62DoUXjgeNr9oW-KDW2VU&libraries=places&callback=initAutocomplete"
        async defer></script>


{% for js_url in config.JS_INCLUDES %}
    <script src="{{ js_url }}"></script>
{% endfor %}
<script src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>
{% endblock %} 