{% extends "base2.html" %}
{% block content %}

<body>
<div class="bgimg w3-display-container w3-animate-opacity w3-text-white" style="width:100%; height:100%;">
<div class="w3-main" style="margin-left:300px;margin-top:43px;">

  <header class="w3-container" style="padding-top:43px">
      <h5 style="color:black;text-align: center;"><b>Keep Your AC Unit Healthy!</b></h5>
    </header>
  <hr style="background-color: lightsteelblue">

  <div class="w3-half w3-container" style="width:500px; height: 400px; background-color:lightgrey; margin-left: 50px; border: 3px solid black">
    <br><br>
      <p style="color: black"><b>Put AC Info Here</b></p>
      <p style="color: black">Regrigerant</p>
      <div class="w3-grey">
        <div class="w3-container w3-center w3-padding" style="width:25%; background-color: lightsteelblue;">+25%</div>
      </div>

      <p style="color: black">Error 1</p>
      <div class="w3-grey">
        <div class="w3-container w3-center w3-padding" style="width:40%; background-color: lightsteelblue">40%</div>
      </div>
      
      <p style="color: black">Error 2</p>
      <div class="w3-grey">
        <div class="w3-container w3-center w3-padding" style="width:50%; background-color: lightsteelblue">50%</div>
      </div>
      
      <p style="color: black">Error 3</p>
      <div class="w3-grey">
        <div class="w3-container w3-center w3-padding" style="width:75%; background-color: lightsteelblue">75%</div>
      </div>
  </div>
  <div class="w3-half w3-container" style="width:500px; height: 400px; background-color:lightgrey;margin-left: 50px; border: 3px solid black">
    <br><br>
    <p style="color: black"><b>Other Analytics</b></p>
    <br>
        <table class="w3-table w3-striped w3-grey">
          <tr style="background-color: lightsteelblue">
            <td><i class="fa fa-user w3-text-black w3-large"></i></td>
            <td>New record, over 90 views.</td>
            <td><i>10 mins</i></td>
          </tr>
          <tr>
            <td><i class="fa fa-bell w3-text-black w3-large" ></i></td>
            <td>Database error.</td>
            <td><i>15 mins</i></td>
          </tr>
          <tr style="background-color: lightsteelblue">
            <td><i class="fa fa-users w3-text-black w3-large"></i></td>
            <td>New record, over 40 users.</td>
            <td><i>17 mins</i></td>
          </tr>
          <tr>
            <td><i class="fa fa-comment w3-text-black w3-large"></i></td>
            <td>New comments.</td>
            <td><i>25 mins</i></td>
          </tr>
          <tr style="background-color: lightsteelblue">
            <td><i class="fa fa-bookmark w3-text-black w3-large"></i></td>
            <td>Check transactions.</td>
            <td><i>28 mins</i></td>
          </tr>
          <tr>
            <td><i class="fa fa-laptop w3-text-black w3-large"></i></td>
            <td>CPU overload.</td>
            <td><i>35 mins</i></td>
          </tr>
          <tr style="background-color: lightsteelblue">
            <td><i class="fa fa-share-alt w3-text-black w3-large"></i></td>
            <td>New shares.</td>
            <td><i>39 mins</i></td>
          </tr>
        </table>
      </div>
    </div>
</div>
</body>
</html>

{% endblock %}